.summaryview_unemp-container {
	margin: 20px;
	text-align: center;
}

.summaryview_unemp-description {
	margin: 20px;
}

.summaryview_unemp-big {
	margin: 5px;
	font-size: 2.0em;
}

.summaryview_unemp-small {
	font-size: 1.0em;
}

.summaryview_unemp-grid {
	margin: 0 auto;
	display: table;
	width: auto;
	height: auto;
}

.summaryview_unemp-row {
	display: table-row;
}

.summaryview_unemp-cell {
	padding: 2px;
	display: table-cell;
	vertical-align: middle;
}

.summaryview_unemp-cell-x {
	color: #f00;
}

.summaryview_unemp-cell-o {
	color: #0f0;
}
