.summaryview_gini-table {
	width: 300px;
	text-align: center;
	position:absolute; 
	top:5%; 
	left:50%;
	height:90%; 
	margin-top:0%;
	margin-left: -150px;
	border-style:solid;
	border-width:1px;
}

.summaryview_gini-top {
	background-color:#FFCF00;
}

.summaryview_gini-mid {
	background-color:#98F100;
}

.summaryview_gini-low {
	background-color:#FF5C00;
}